{% trans_default_domain 'sfs_shop' %}
{% extends '@SfsShop/admin_layout.html.twig' %}
{% block title %}{{ 'admin_orders.list.page_title'|trans }}{% endblock %}

{% block content %}

    <div class="text-right">
        <a href="{{ url('sfs_shop_admin_orders_create') }}">Create order</a>
    </div>


    {{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'admin_orders.list.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_orders.list.actions.header'|trans }}</th>
{#            <th>&nbsp;</th>#}
        </tr>
        </thead>

        <tbody>
        {% include '@SfsShop/admin/order/list-page.html.twig' %}
        </tbody>

        {% if entities.pages|default(false) %}
            <tfoot>
            <tr>
                <td colspan="20">
                    {% if entities.prevPage %}
                        <a href="{{ url('sfs_shop_admin_orders_list', app.request.query.all|merge({ page: entities.prevPage })) }}">Prev page</a>
                    {% endif %}

                    {% if entities.nextPage %}
                        <a class="float-right" href="{{ url('sfs_shop_admin_orders_list', app.request.query.all|merge({ page: entities.nextPage })) }}">Next page</a>
                    {% endif %}
                </td>
            </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock content %}