{% trans_default_domain 'sfs_shop' %}

{% for order in entities %}
    <tr>
        <td>
            <a href="{{ url('sfs_shop_admin_orders_read', {'entity':order}) }}">{{ order.number }}</a>
        </td>

        <td>{{ order.status }}</td>
        <td>{{ order.checkoutAt|date('d-m-Y') }}</td>
        <td>{{ order.entries.count() }}</td>
        <td class="text-right">{{ order.total|number_format(2) }}</td>

        <td align="right">
            <a href="{{ url('sfs_shop_admin_orders_read', {'entity':order}) }}" class="text-nowrap">{{ 'admin_orders.list.actions.details.button'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
        </td>
    </tr>
{% endfor %}