{% trans_default_domain 'sfs_shop' %}
{% extends '@SfsShop/admin_layout.html.twig' %}
{% block title %}{{ 'admin_customers.update.page_title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'admin_customers.update.actions.update.button'|trans }}" class="btn btn-primary btn-block" />
        <a href="{{ url('sfs_shop_admin_customers_list') }}" class="btn btn-secondary btn-block">{{ 'admin_customers.update.actions.cancel.button'|trans }}</a>
        <a href="{{ url('sfs_shop_admin_customers_delete', {'entity':entity}) }}" class="btn btn-danger btn-block">{{ 'admin_customers.update.actions.delete.button'|trans }}</a>
    {{ form_end(form) }}
{% endblock content %}