{% trans_default_domain 'sfs_shop' %}
{% extends '@SfsShop/customer_layout.html.twig' %}

{% block content %}
    <h1>{{ 'customer.order.details.title'|trans({'%orderNumber%':order.number|default(order.id)}) }}</h1>

    Status: {{ order.status }}
    <br/>

    <table class="table mt-3">
        <thead>
        <tr>
            <th>{{ 'customer.order.details.entries.table.product.header'|trans }}</th>
            <th>{{ 'customer.order.details.entries.table.price.header'|trans }}</th>
            <th>{{ 'customer.order.details.entries.table.quantity.header'|trans }}</th>
            <th>{{ 'customer.order.details.entries.table.total.header'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for entry in order.entries %}
            <tr>
                <td>{{ entry.item.name }}</td>
                <td>{{ entry.price }} {{ order.currency }}</td>
                <td>{{ entry.quantity }}</td>
                <td>{{ entry.totalPrice }}€</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}